.project-container {
  padding-bottom: 2rem;
  width: 95%;
  margin: 150px auto 0px;

  @include breakpoint-custom(60em) {
    max-width: 95%;
  }
}

.project-grid {
  display: grid;
  gap: 20px;
  margin: 0px auto;
  grid-template-columns: repeat(1, 1fr);


  @include breakpoint-custom($screen-sm) {
    grid-template-columns: repeat(2, 1fr);
  }

  @include breakpoint-custom($screen-md-max) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.project-card {
  backface-visibility: hidden;
  box-shadow: rgba(0, 0, 0, 0.25) 6px 8px 20px;
  color: rgb(255, 255, 255);
  font-size: 16px;
  height: 280px;
  width: 100%;
  position: relative;
  transform-style: preserve-3d;
  transform: rotate3d(0, 0, 0, 0deg) scale(1);
  border-radius: 15px;
  margin: 0px auto;
  overflow: hidden;
  padding: 1em;
  transition: all 0.3s ease 0s;
  background: rgb(14, 14, 14);

  > img {
    position: absolute;
    top: 0px;
    left: 0px;
    object-fit: cover;
    width: 100%;
    height: 100%;
    transition: transform 2s ease 0s;
  }

  .project-name {
    color: white;
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background: rgba(0,0,0,0.7);
  }

  .description {
    display: flex;
    flex-direction: column;
    -webkit-box-pack: end;
    justify-content: flex-end;
    height: 100%;
    position: relative;
    z-index: 1;
  }

  .project-link {
    color: rgba(255, 255, 255, 0.8);
  }
}
